.categories{
    display:none;
}



@media only screen and (min-width: 777px){
    .categories{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 10px 200px;
    background-color: #033334;
    color:white;
    }
}
